streamlit==1.40.0
streamlit-folium==0.24.0
folium==0.18.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.9.2
seaborn==0.13.2
geopandas==1.0.1
osmnx==2.0.1
shapely==2.0.6
pyproj==3.7.0
pyogrio==0.10.0
requests==2.32.3
altair==5.5.0
branca==0.8.0
